
<ion-modal-view ng-controller="AddNodeCtrl">

  <div class="bar bar-header bar-positive">
    <div class="button-bar">
      <a class="button icon ion-checkmark-round " ng-click="AddNode(modalData.nodeText)"></a>
      <a class="button icon ion-close-circled" ng-click="closeModal()"></a>

    </div>

  </div>

  <ion-content class="has-header">
    <div class="list list-inset">
      <div class="item item-divider">
        Select Node Type
      </div>
      <ion-item class="row">
        <div class="col">
          <label class="item item-radio">
            <input type="radio"   ng-model="model.choice" ng-value="model.NODETYPES.VALUE">
            <div class="item-content">
              Value
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col">
          <label class="item item-radio" >
            <input type="radio"  ng-model="model.choice" ng-value="model.NODETYPES.CONTAINER">
            <div class="item-content">
              Container
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col">
          <label class="item item-radio">
            <input type="radio" ng-model="model.choice" ng-value="model.NODETYPES.SPEECH">
            <div class="item-content">
              Speech
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>

      </ion-item>
      <div class="item item-divider">
        Node Data
      </div>
      <ion-item>
        <label class="item item-input" ng-if="model.choice !== model.NODETYPES.SPEECH">

          <textarea  rows="5" ng-model="modalData.nodeText" autofocus></textarea>
          <!--<textarea rows="5" ng-model="nodeText"></textarea>-->
        </label>
      </ion-item>
    </div>



  </ion-content>
</ion-modal-view>



