<ion-view view-title="home">

  <ion-content>


    <a ng-if="GetCurrent().parent != null" class="button icon-left ion-chevron-left button-clear button-stable" ng-click="Collapse(item)"></a>

    <ul class="list">


      <li class="row" ng-show="!IsEditNode(item.key)" ng-repeat-start="item in GetCurrent().children">

        <div class="col col-10">
          <a class="button icon-left ion-chevron-right button-clear button-stable" ng-click="Expand(item)"></a>
          <a ng-if="GetCurrent().parent != null" class="button button-assertive icon ion-chevron-left" ng-click="Collapse(item)"></a>
        </div>
        <div class="col col-50 col-center">
        {{ item.data.value | limitTo:textLimit }}
         {{item.data.value.length > textLimit?"...":""}}
        </div>
        <div class="col col-40">
          <div class="button-bar">
            <a class="button icon ion-edit" ng-click="SetEditNode(item.key)"></a>
            <a class="button icon ion-close-circled" ng-click="PopupDelete(item.key)"></a>

          </div>

        </div>

      </li>
      <li class="" ng-show="IsEditNode(item.key)" ng-repeat-end>


        <label class="item item-input">
          <textarea rows="5" ng-model="item.data.value"></textarea>
        </label>
        <label class="item">
          <button class="button button-block icon ion-checkmark-round  button-stable" ng-click="SetEditNode(null)"></button>

        </label>

      </li>



 <!--       <div class="list">



            <label class="item item-input">

            </label>




        </div>
-->
    <!--    <div class="col col-75">

          <label class="item item-input">
            <input type="text" placeholder="" ng-model="item.data.value">
          </label>

        </div>
        <div class="col">
          <button class="button" ng-click="SetEditNode(null)">Save</button>
        </div>
-->

      </div>


    </ul>
  </ion-content>
</ion-view>
