<ion-view view-title="home">

  <ion-content>
    <button ng-if="GetCurrent().parent != null" class="button button-icon icon ion-ios-arrow-up" ng-click="Collapse(item)"></button>
    <ul class="list">


      <li class="item row" ng-show="!IsEditNode(item.key)" ng-repeat-start="item in GetCurrent().children">


        <div class="col col-75">
          <div class="row">
            <div class="col col-10">
              <button class="button button-icon icon ion-ios-arrow-down" ng-click="Expand(item)"></button>
              <button ng-if="GetCurrent().parent != null" class="button button-icon icon ion-ios-arrow-up" ng-click="Collapse(item)"></button>
            </div>
            <div class="col col-90">
              <h2 ng-click="SetEditNode(item.key)">{{item.data.value}}</h2>
            </div>
          </div>




        </div>
        <div class="col">
          <button class="button" ng-click="SetEditNode(item.key)">Edit
          </button>
          <button class="button ion-close-circled" ng-click="PopupDelete(item.key)"></button>

        </div>


      </li>
      <li class="item row" ng-show="IsEditNode(item.key)" ng-repeat-end>


        <div class="col col-75">

          <label class="item item-input">
            <input type="text" placeholder="" ng-model="item.data.value">
          </label>

        </div>
        <div class="col">
          <button class="button" ng-click="SetEditNode(null)">Save</button>
        </div>


      </li>


    </ul>
  </ion-content>
</ion-view>
