<ion-view view-title="home">

  <ion-content class="has-header" scroll="false">

    <form name="addToInbox" novalidate>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <textarea rows="5" type="text" name="text" placeholder="Type new entry" ng-model="model.text"
                      required></textarea>
          </label>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <div class="button-bar bar-positive">

            <button class="button" ng-click="model.Save()" ng-disabled="addToInbox.text.$invalid">Save</button>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col">

        </div>

      </div>

    </form>


  </ion-content>
</ion-view>
