<script type="text/ng-template" id="nodes">

  <ul class="list" class="item-stable" ng-show="isVisible(node)" ng-init="node.collapsed = false"
            ng-if="node.data.type === model.NODETYPES.CONTAINER">

    <li class="item">


      <label class="item item-input">
        <a class="button button-clear" ng-if="hasChildContainer(node)" ng-click="toggleNode(node)"><i class="icon"
                                                                                                      ng-class="node.collapsed ? 'ion-chevron-up' : 'ion-chevron-right'"></i>
        </a>
        <button class="button button-positive" style="float:right">
          Select
        </button>
        <span class="input-label">{{node.data.value}}</span>


      </label>
    <!--  <label style="padding-bottom: 1px !important"></label>-->

   <!-- <div class="row">
      <div class="col-20">
        <button class="button button-positive" ng-if="hasChildContainer(node)" ng-click="toggleNode(node)"><i class="icon"
                                                                               ng-class="node.collapsed ? 'ion-minus' : 'ion-plus'"></i>
        </button>
      </div>
      <div class="col">
        {{node.data.value}}
      </div>
    </div>-->

    </li>

    <li class="item" ng-show="true" ng-repeat="node in node.children" ng-include="'nodes'">

    </li>
  </ul>

</script>

<ion-view view-title="selectnode">


  <ion-content class="has-header has-subheader">


    <ul class="list">
      <li class="item" ng-repeat="node in model.root.children" ng-include="'nodes'"></li>
    </ul>

  </ion-content>


</ion-view>
<!--<script type="text/ng-template" id="nodes">

  <li class="" nav-clear menu-close ng-click="toggleSubmenu()">
    {{item.data.value}}
    <ul class="">

      <span ng-repeat="item in item.noderen" ng-include="'nodes'"></span>


    </ul>
  </li>
</script>

<ion-view view-title="selectnode">



    <ion-content  class="c" >

      <ul class="">

        <div ng-repeat="item in model.current.noderen" ng-include="'nodes'"></div>
      </ul>



    </ion-content>


</ion-view>-->


