<script type="text/ng-template" id="nodes">

  <ion-item class="item-stable" ng-show="isVisible(node)" ng-init="node.collapsed = false"
            ng-if="node.data.type === model.NODETYPES.CONTAINER">

    <div class="row">
      <div class="col">
        <button class="button button-positive" ng-if="hasChildContainer(node)" ng-click="toggleNode(node)"><i class="icon"
                                                                               ng-class="node.collapsed ? 'ion-minus' : 'ion-plus'"></i>
        </button>
      </div>
      <div class="col">
        {{node.data.value}}
      </div>
    </div>



    <ion-list ng-show="true">

      <div ng-repeat="node in node.children" ng-include="'nodes'">


      </div>
    </ion-list>
  </ion-item>

</script>

<ion-view view-title="selectnode">


  <ion-content class="has-header has-subheader">

    <ion-list>
      <div ng-repeat="node in model.current.children" ng-include="'nodes'">


      </div>
    </ion-list>

  </ion-content>


</ion-view>
<!--<script type="text/ng-template" id="nodes">

  <li class="" nav-clear menu-close ng-click="toggleSubmenu()">
    {{item.data.value}}
    <ul class="">

      <span ng-repeat="item in item.noderen" ng-include="'nodes'"></span>


    </ul>
  </li>
</script>

<ion-view view-title="selectnode">



    <ion-content  class="c" >

      <ul class="">

        <div ng-repeat="item in model.current.noderen" ng-include="'nodes'"></div>
      </ul>



    </ion-content>


</ion-view>-->


