<script type="text/ng-template" id="nodes">


    {{item.data.value}}

    <ol class="">

      <li ng-repeat="item in item.children" ng-include="'nodes'"></li>


    </ol>

</script>

<ion-view view-title="selectnode">



  <ion-content class="has-header has-subheader">

    <ion-list>
      <div ng-repeat="group in model.current.children">

        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
           {{group.data.value}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in group.children"
                  ng-show="isGroupShown(group)">
          {{item.data.value}}
        </ion-item>
      </div>
    </ion-list>

  </ion-content>


</ion-view>
<!--<script type="text/ng-template" id="nodes">

  <li class="" nav-clear menu-close ng-click="toggleSubmenu()">
    {{item.data.value}}
    <ul class="">

      <span ng-repeat="item in item.children" ng-include="'nodes'"></span>


    </ul>
  </li>
</script>

<ion-view view-title="selectnode">



    <ion-content  class="c" >

      <ul class="">

        <div ng-repeat="item in model.current.children" ng-include="'nodes'"></div>
      </ul>



    </ion-content>


</ion-view>-->


<html ng-app="ionicApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Ionic Accordion</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

</head>

