<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-header-bar align-title="left" class="bar-positive">
      <div class="buttons">
        <button class="button" ng-click="">XXXX</button>
      </div>
      <h1 class="title">Title!</h1>

      <div class="buttons">
        <button class="button">Right Button</button>
      </div>
    </ion-header-bar>
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Tree" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/tree">
    <div class="bar bar-header bar-positive">
      <div class="button-bar">
        <a class="button" ng-if="hasParent() === true" ng-click="MoveToRoot()">Root</a>
        <a class="button" ng-click="openModal()">Add</a>
        <a class="button" ng-click="Save()">Save</a>

      </div>
    </div>
    <div class="bar bar-subheader bar-positive">
      <h2 class="title">{{model.valuePath}}</h2>
    </div>
    <ion-nav-view name="tab-tree"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Select" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/select">

    <div class="bar bar-header bar-positive">
      <div class="button-bar">

        <a class="button" ng-if="hasParent() === true" ng-click="MoveToRoot()">Root</a>
      </div>
    </div>
    <div class="bar bar-subheader bar-positive">
      <h2 class="title">{{model.valuePath}}</h2>
    </div>

    <ion-nav-view name="tab-select"></ion-nav-view>
  </ion-tab>


</ion-tabs>
