

<ion-view view-title="tree">



  <ion-content>


    <ul class="list">

      <li class="row" ng-show="!IsEditNode(item.key)" ng-repeat-start="item in model.node.children">


        <div class="col col-10 col-left">
          <a class="button icon-left ion-chevron-right button-clear button-stable" ng-click="MoveToNode(item)"></a>

        </div>
        <div class="col col-50 col-center">
          {{ item.data.value | limitTo:model.textLimit }}
          {{item.data.value.length > model.textLimit?"...":""}}
        </div>
        <div class="col col-40">
          <div class="button-bar">
            <a class="button button-small icon ion-edit" ng-click="SetEditNode(item.key)"></a>
            <a class="button button-small icon ion-close-circled" ng-click="PopupDelete(item.key)"></a>

          </div>

        </div>

      </li>
      <li class="" ng-show="IsEditNode(item.key)" ng-repeat-end>


        <label class="item item-input">
          <textarea rows="5" ng-model="item.data.value"></textarea>
        </label>
        <label class="item">
          <button class="button button-block icon ion-checkmark-round  button-stable"
                  ng-click="SetEditNode(null)"></button>

        </label>

      </li>


      <!--       <div class="list">



                 <label class="item item-input">

                 </label>




             </div>
     -->
      <!--    <div class="col col-75">

            <label class="item item-input">
              <input type="text" placeholder="" ng-model="item.data.value">
            </label>

          </div>
          <div class="col">
            <button class="button" ng-click="SetEditNode(null)">Save</button>
          </div>
  -->

      </div>


    </ul>
  </ion-content>
</ion-view>
