<ion-view view-title="base.home">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="">XXXX</button>
    </div>
    <h1 class="title">Title!</h1>

    <div class="buttons">
      <button class="button">Right Button</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader" scroll="false">

    <div name="addToInbox" class="list" novalidate>

      <label id="email" class="item item-input">

        <textarea autofocus rows="5" type="text" name="text" placeholder="Type new entry" ng-model="model.text"
                  required></textarea>
      </label>

      <div class="item list-item">

        <div class="row">
          <div class="col">
            <h3>Add to:</h3>
            <h3>{{model.selected.data.value}}</h3>
          </div>
          <div class="col">
            <a class="button button-energized" ng-click="goToSelect()">Select another node</a>

          </div>
        </div>



      </div>
      <div class="item list-item">


        <button class="button button-full button-positive" ng-click="model.Save()" ng-disabled="addToInbox.text.$invalid">Save</button>


      </div>


    </div>


  </ion-content>
</ion-view>
