/*
li:last-child {
  border-bottom: none;
}

li:first-child {
  border-top: none;
  font-weight: bold;
}
li:nth-child(even) {

  background-color: gray;
}
*/

li
{
  border-style:none !important;
}

ul li{
  padding-left: 50px !important;
}


/*ul li:nth-child(n+5) {
  background:#ff0000;
}*/
